.step {
    width: 350px;
    margin: 50px auto;
    font-family: Arial
}

.step input {
    padding: 10px;
    width: 95%
}

#step2,
#step3 {
    display: none
}

.step button {
    padding: 8px 22px;
    margin-right: 5px
}