.box {
    width: 350px;
    margin: 100px auto;
    font-family: Arial;
    text-align: center
}

.field {
    position: relative
}

.field input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box
}

.field label {
    position: absolute;
    left: 12px;
    top: 12px;
    background: white;
    transition: .3s;
    pointer-events: none
}

.field input:focus+label,
.field input:not(:placeholder-shown)+label {
    top: -8px;
    font-size: 12px
}

.box button {
    margin-top: 20px;
    padding: 10px 25px
}